<div id="chatbox">
  <% @messages.each do |message| %>
    <p> <span id="user-name"><%= message.sender.name %></span>: <%= message.content %></p>
  <% end %>
</div>

<form id="user-input" action="message/new" method="POST">
  <textarea name="message" id="message-box"></textarea>
  <div><input id="submit-button" type="submit" value="Send"></div>
</form>
